body{
    font-family: var(--primary-font); 
    color: var(--secondary-dark-color);
    background-color: var(--primary-white-color);
}
:root{
    --primary-font: 'Roboto',sans-serif;
    --logo-font: "Raleway", sans-serif;
    --primary-dark-color: #2E2F42;
    --secondary-dark-color: #434455;
    --primary-blu-color: #4D5AE5;
    --secondary-blu-color: #404BBF;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: #F4F4FD;
}
p, h1,h2,h3,h4,h5,h6 {
margin-top: 0;
margin-bottom: 0;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.link{
    text-decoration: none;
}
.list {
    list-style: none;
    ;
}

.logo-header {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-blu-color);
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-span-header{
    color: var(--primary-dark-color);
}

.header{
    border-bottom: solid 1px #E7E9FC;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-container {
    display: flex;
    align-items: center;
}
.header-menu-item{
    padding-top: 24px;
    padding-bottom: 24px;
}
   

.header-menu-contacts{
    display: flex;
    align-items: center;
    gap: 40px;
}


}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-dark-color);
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover{
    color: var(--secondary-blu-color);
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 40px;
    background-color: var(--secondary-blu-color);
    border-radius: 2px;
}

.header-menu-link:focus{
    color: var(--secondary-blu-color);
}

.active {
    position: relative;

}

.header-contacts{
    font-style: normal;
}
.header-contacts-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-dark-color);
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.header-contacts-item:hover{
    color: var(--secondary-blu-color);
}
.header-contacts-item:focus{
    color: var(--secondary-blu-color);
}
.hero{
    background-color: var(--primary-dark-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url(../images/hero.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    padding-bottom: 188px;
    padding-top: 188px;
}

.container-hero{
    margin: 0 auto;

    

}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--primary-white-color);
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.hero-button {
    display: block;
    font-family: var(--primary-font);
    background-color: var(--primary-blu-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-white-color);
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.hero-button:hover{
    background-color: var(--secondary-blu-color);
}
.hero-button:focus{
    background-color: var(--secondary-blu-color);
}
.feature{
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-menu{
    display: flex;
    gap:24px;
}

.feature-menu-item{
max-width: 264px;
}

.feature-container-icon{
    display: flex;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    align-items: center;
    justify-content: center;


}
.feature-item-title {
    color: var(--primary-dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.referral{
    padding-bottom: 120px;
}

.feature-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.referral-menu{
    background-color: var(--primary-white-color);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 24px;
}
.referral-title {
    color: var(--primary-dark-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
. .referral-item-image{
}

.team{
    background-color: var(--secondary-white-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-menu{
    display: flex;
    gap: 24px;
    
}
.team-title {
    color:#2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-menu-item{
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.team-menu-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-menu-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-team{
    text-align: center;
    padding: 32px 16px
} 

.team-icons-list {
    gap: 24px;
    display: flex;
}

.team-icons{
    margin-top: 8px;
    margin-bottom: 32px;
    border-radius: 50%;   
    background-color: var(--primary-blu-color);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-icons:hover{
    background-color: var(--secondary-blu-color)
}
.team-icon{

}
.team-item-image{
  
}
.team-item-title {
    color: var(--primary-dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.customers{
}

.customers-title{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-dark-color);
    margin-top: 120px;
}

.customers-container{
    display: flex;
    gap:24px;
    margin-top: 72px;
    margin-bottom: 120px;
}

.customers-container-list{
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer{
    background-color: var(--primary-dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
    
    
}

.footerino{
    display:flex;
    gap: 120px;
}
    
.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-white-color);
    max-width: 264px;
    margin-right: 0;
}

.logo-footer {
    display: inline-block;
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-blu-color);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.logo-span-footer{
    color: var(--secondary-white-color);;
}

.footer-title{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.footer-soc{
    display: block;

}

.footer-icon-list{
    display: flex;
    margin-top: 16px;
    gap: 16px;

}

.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-menu-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    
}
.portfolio-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-blu-color);
    background-color: var(--secondary-white-color);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    border-radius: 4px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-button:hover{
    color: var(--primary-white-color);
    background-color: var(--secondary-blu-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button:focus{
    color: var(--primary-white-color);
    background-color: var(--secondary-blu-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-feature-items{
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-feature-items:hover .portfolio-overflow{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0);
}

.portfolio-feature-items:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-feature-items:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overflow{
    position: absolute;
    width: 360px;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #4D5AE5;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    
    
    
}
.portfolio-overflow:hover{
    
}

.portfolio-card-active{
    position: relative;
    overflow: hidden;  
}



.overflow-text{
    min-width: 296px;
    height: 96px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.portfolio-card{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}


.portfolio-menu-feature{
    display: flex;
    flex-wrap: wrap;
    column-gap:24px;
    row-gap: 48px;
}


.portfolio-feature-title {
    color: var(--primary-dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-feature-paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-dark-color);
    letter-spacing: 0.02em;
}

.backdrop{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 2;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    position: absolute;
    width: 408px;
    min-height: 584px;
    left: 50%;
    top: 50%;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: none;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn{
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.modal-button-icon{
    justify-content: center;
    align-items: center;
    display: flex;
}
.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}